code {background-color: #ddeeff; color: #000000;}
kbd {background-color: #ddeeff; color: #000000;}
.nonterminal { font-weight: bold; color: #004000;}
.terminal {background-color: #ddffdd; color: #000000;}
.anndate { color: red; }

